#home {
    height: 100%;
    background-color: #e8e8e8;
    #total-sales {
        background-color: #fefefe;
        height: 40%;
        border-radius: 1%;
    }
    #latest-orders {
        background-color: #fefefe;
        height: 100%;
        border-radius: 1%;
    }
}