#home {
    height: 100%;
    background-color: #e8e8e8;
    #total-sales {
        background-color: #fefefe;
        height: 40vh;
    }
    #latest-orders {
        background-color: #fefefe;
        height: 99vh;
    }
}